{{#each thoughts as |thought|}}
  <section data-id="{{thought.id}}" class="border">
    <h5>Yeet ID: {{thought.id}}</h5>
    <h5>You yeeted: </h5>
    <p>
      {{#if thought.words}}
        {{thought.words}}
      {{else}}
        No words provided.
      {{/if}}
    </p>
    <form id="update-thought" data-id="{{thought.id}}">
      <h6>Update This Yeet:</h6>
      <input type="text" placeholder="Add more to this..." name="thought[words]" required>
      <button class="btn btn-sm btn-outline-light update-button">Update</button>
    </form>
    <button data-id="{{thought.id}}" class="btn btn-sm btn-outline-danger delete-button">Delete!</button>
  </section>
  <br>
{{/each}}
