{{#each thoughts as |thought|}}
  <section data-id="{{thought.id}}">
    <h4>Yeet ID: {{thought.id}}</h4>
    <p>
      {{#if thought.words}}
        You yeeted: {{thought.words}}
      {{else}}
        No words provided.
      {{/if}}
    </p>
    <button data-id="{{thought.id}}" class="btn btn-outline-danger delete-button">Delete Yeet!</button>
  </section>

{{/each}}
