{{#each thoughts as |thought|}}
  <section data-id="{{thought.id}}" class="col border col-auto">
    <p>Yeet ID: {{thought.id}}</p>
    <p>You yeeted: </p>
    <p>
      {{#if thought.words}}
        {{thought.words}}
      {{else}}
        No words provided.
      {{/if}}
    </p>
    <div>
      <label for "update-thought">Update This Yeet:</label>
        <form id="update-thought" data-id="{{thought.id}}">
          <input type="text" placeholder="Change this?" name="thought[words]" class="form-control" required>
          <button class="btn btn-block btn-outline-light update-button">Change</button>
        </form>
    </div>
    <button data-id="{{thought.id}}" class="btn btn-block btn-outline-danger delete-button">Delete!</button>
  </section>
{{/each}}
